nav {
	background-color: black;
}
h1, h2, h3, h4 {
	font-family: 'Helvetica Bold', sans-serif;
}
p {
	margin:20px 0px;
	line-height:1.5;
	font-size:20px;
	clear: left;
	font-family: 'EB Garamond', serif;
}
.card {
	background-color: #A9A9A9;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: white;
}
img {
	padding: 30px;
}
blockquote {
	border-left: 5px solid #A9A9A9;
	font-family: 'EB Garamond', serif;
}
a:link, a:visited {
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
a.nav {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
a.brand-logo {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
}
/* mouse over link*/
a:hover {
	color:gray;
}
